@page "/fetchdata"
@using nrcv3mud.Data
@inject IDbContextFactory<nrcwebContext> dbf

<p>@tableselectedrow?.Id</p><p>@tableselectedrow?.StockName</p>
<GList T="Stock" data="stlist" scollist="stockcode,stockname" OnRowdblclicked="@f_rowdblclicked" OnRowclicked="@f_rowclicked">
    <myHeader> </myHeader> <myFooter> test footer</myFooter>
    <ChildContent><p> this will be in childcontent </p></ChildContent>
</GList>



@code {
    public List<Stock> stlist { get; set; }
    private Stock tableselectedrow;
    public void f_rowdblclicked(Stock arg) { tableselectedrow = arg; }
    public void f_rowclicked(Stock arg) { tableselectedrow = arg; }
    protected override async Task OnInitializedAsync()
    {
        using (var db = dbf.CreateDbContext())  stlist = await db.Stocks.Where(p => p.StockCode != "03").ToListAsync<Stock>();
    }
}
@*<GList T="Work" />*@
@*<GList T="Stock" scollist="stockcode,stockname" />*@
